{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

        <div class="gallery-grid">
            {{ content }}
            {% for image in meta.Images %}
            <div class="image-grid">
                <a href="{{ image.name }} " target="_blank">
                    <picture>
                    <source media="(max-width: 767px)" srcset="{{ image.name }}?w=250&h=250&q=90&crop-to-fit">
                    <source media="(min-width: 768px)" srcset="{{ image.name }}?w=450&h=450&q=83&crop-to-fit">
                    <img src="{{ image.name }}?w=450&h=450&q=85&crop-to-fit" alt="{{ image.alt }}">
                    </picture>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="youtube-video">
        <iframe src="https://www.youtube.com/embed/0BzGlfm1wFo?si=7nfOLzUzYL63evMD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        {% include 'incl/footer.twig' %}
</body>

</html>